body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #e7ebf2;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}
.header
{
    width: 100%;
    background-color: black;
    color: red;
    height: 100px;
}
.footer
{
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: black;
    height: 150px;
}
.title
{
    width: 100%;
    height: 41px;
    background: #3b5999 url("../../public/images/title_bg.png") repeat-x;
    text-align: center;
}
.inner_title
{
    background-image: url('../../public/images/head.png');
    width: 1106px; 
    height: 37px;
    margin-left: auto;
    margin-right: auto;
}
.content
{
    width: 1106px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}
.box
{
    width: 688px;
    background-color: white;
    border: 1px #c4ccdf solid;
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.inner_box
{
    margin: 1px 3px 1px 3px;
    background-color: #eeeff4;
    padding: 5px 5px 5px 13px;
    font-size: 11px;
}
.inner_box span
{
    color: #3b5997;
}
.profile_box
{
    float: left; 
    margin-right: 5px;
    vertical-align: top;
    color: #3b5997;
    font-weight: bold;
}
.youtube_box
{
    font-size: 10px;
    color: gray;
    max-width: 650px;
}
.youtube_box a:link, a:visited
{
    font-size: 11px;
    color: #3b5997;
    font-weight: bold;
    text-decoration: none;
}
.youtube_box a:hover
{
    text-decoration: underline;
}